@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
}
.bg-gradient-radial {
  background: rgb(10,8,15);
background: linear-gradient(90deg, rgba(10,8,15,1) 0%, rgba(11,33,74,1) 69%, rgba(0,11,56,1) 99%);

}



.bg-footer{
  
  background: rgb(41,42,60);
background: linear-gradient(183deg, rgba(41,42,60,1) 0%, rgba(0,0,0,1) 99%);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'YourFontName';
  src: url('/public/fonts/static/Merienda-Medium.ttf') format('merinda');
  /* Add other font formats if necessary */
}
.merinda-font {
  font-family: merinda;
}
/* styles.css */
.custom-h1 {
  @apply text-center mt-2 text-3xl font-black  md:text-4xl text-white pb-5;
}

.video-bg {
  filter: brightness(50%);
}

.button-container{
  width: 50%;
}

@media screen and (max-width: 600px) {
  .button-container {
    width: 100%;
    padding: 0;
  }
}
