@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
}
.bg-gradient-radial {
  background: rgb(33, 33, 58);

}


.bg-footer{
 background-color: rgb(28,9,35);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'YourFontName';
  src: url('/public/fonts/static/Merienda-Medium.ttf') format('merinda');
  /* Add other font formats if necessary */
}
.merinda-font {
  font-family: merinda;
}
/* styles.css */
.custom-h1 {
  @apply text-center mt-2 text-3xl font-black  md:text-4xl text-white pb-5;
}

.video-bg {
  filter: brightness(40%);
}
.button-container {
 width:50%;
}
@media  screen and (max-width: 600px) {
  .button-container {
    width: 100%;
    padding: 0;
  }
  
}

/* navbar-responsive.css */


@media (max-width: 768px) {
  /* Navbar container */
  .max-w-screen-xl {
    padding: 0 20px; 
  }

  /* Logo */
  .h-15 {
    width: 40px; 
  }

  /* Menu button */
  .md\\:hidden {
    display: block; 
  }

  /* Dropdown menu */
  .absolute.top-full {
    right: 10px;
    left: auto; 
  }

  /* Dropdown menu items */
  .absolute.top-full li {
    width: 100%; 
  }

}


